<div id="index-conatiner">
  <img src="/imgs/home/mountains.jpeg" alt="" id="main-img">
  <h2 class="center">Welcome to my Blog Site!</h2>
  <p>&emsp;Thank you for stopping by my blog site. I'm building this site from the ground up using NodeJS Express.
  All the source code for this website can be found at <a href="https://www.github.com/collinnolen/CollinsBlog_Nodejs">github.com/collinnolen</a>.
  The goal for this site was to learn NodeJS while completing a larger scale project from start to finish. The front-end styling needs improvement, however this will come after
  completing more of the back-end/functionality of the website.
  </br></br>Please browse the website and see how it functions for your self! If you do not wish to create an account (requires email verificaiton).
  Please use these account credentials: </br></br>
  Email : collinnolen@hotmail.com </br>
  Password : n </br></br>
  Please feel free to post, delete, comment or use any functionality of the site, some functionalities will be missing until the project is fully complete.
  </br>
  </br> Thank you for visiting my blog.
  </br>
  </br> - Collin Nolen
  </br> Phone : (509)385-2225
  </br> Email : collinnolen@gmail.com

  </p>
</div>
