<div class="login-container">

  <h2 class="center">Login</h2>

  {{#if user}}
    <p>You are already logged in.</p>
  {{else}}
    {{#if query}}
    <form action="/users/login{{query}}" method="post">
    {{else}}
    <form action="/users/login" method="post">
    {{/if}}
      <div class="form-group">
        <label>Login Email</label>
        <input type="text" class="form-control" name="username" placeholder="Email" >
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password" >
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  {{/if}}

</div>
