#myBlog-container{
  width:100%;
  min-width: 300px;
  display:inline-block;
}

#blog-deletion-prompt{
  position: absolute;
  width: 15%;
  min-width: 300px;
  height: 150px;
  background-color: #F5F5F5;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  border-radius: 5px;
}
.delete-button{
  padding:1%;
}
