.ul_label{
  padding: 1px;
  padding-left: 5px;
  background-color:#F0F0F0;
}

.list-group-item{
  width:100%;
}

.recent-blogs-list-item{
  padding: 5px;
}

.no-overflow{
  display:inline-block;
  width:100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#featured-header{
  text-align:center;
  background-color:#F0F0F0;
}

.card-block{
  padding: 5px;
}

.link-container{
  margin: auto;
  text-align:center;
}

.card-block a {
  text-align:center;
  display:inline-block;
  margin: 10px;
  width:20%;
}
