.ul_label{
  padding: 1px;
  padding-left: 5px;
  background-color:#F0F0F0;
}

.list-group-item{
  width:100%;
}

.recent-blogs-list-item{
  padding: 5px;
}

.no-overflow{
  display:inline-block;
  width:100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#featured-header{
  text-align:center;
  background-color:#F0F0F0;
}

.follow-button-container{
  display: inline-block;
}

.follow-button-container a, button{
  margin-top: 3rem;
  display: inline-block;
}

.card-img{
  margin-bottom: 20px;
}

.card-text{
  padding: 5px;
}

.card-block{
  padding: 5px;
}

.link-container{
  margin: auto;
  text-align:center;
}

#pageUser-title{
  font-size: 4rem;
}

.card-block a {
  text-align:center;
  display:inline-block;
  margin: 10px;
  width:20%;
}

.profile-header{
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px;
}
