<h2>BlogHome</h2>
<p>Blog home pages</p>

<div class="col-md-9 main-blog-content">
  <div class="card">
    hi
  </div>
</div>
<div class="col-md-3 recent-blog-posts" id="recent_blogs">
  <ul class="recent-blog-list">
    {{#each blogs}}
      <li class="recent-post-container card">
        <div class="title"><a href="blogs/{{post_id}}">{{post_title}}</a></div>
        <div class="author">-{{post_author}}</div>
      </li>
    {{/each}}
  </ul>
</div>
