<h2>Dashbord</h2>
<p>Welcome to the dashboard.</p>

<a class="btn btn-outline-primary" href="/users/dashboard/newblog">New Blog</a>
<a class="btn btn-outline-primary" href="/users/dashboard/myblogs?page=0">My Blogs</a>
