<h2>Dashbord</h2>
<p>Welcome to the dashboard.</p>

<div id="dashboard-button-container">

  <div class="container">
    <div class="row-fluid" id="button-row">
      <div id="dashboard-buttons" class="column">
        <a class="btn btn-outline-primary" href="/users/dashboard/newblog">New Blog</a>
        <a class="btn btn-outline-primary" href="/users/dashboard/myblogs?page=1">Manage Blogs</a>
      </div>
    </div>

    <div class="row" id="main-content-row">
      <div class="col-lg-8">
        <div class="card">
          Test
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          Test
        </div>
      </div>
    </div>
  </div>

</div>
